<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

		<title>My Profile</title>

		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bxslider.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/mobile.css" rel="stylesheet" media="(max-width:1170px)">
	</head>
				<section class="profilePage">
					<div class="container">
						<div class="inner">
							<div class="profile">
							<img src="/img/dh.jpg" width="100" height="100" alt="" />
							</div>
							<h2 class="left"><%= singleBriefs.firstName %></h2>
							<div class="profilePage_skill"><%= singleBriefs.role %></div>
							<div class="profilePage_text"><%= singleBriefs.summary %></div>
							<br>
							<a href="#" class="sec1_6_block_btn">Linkedin</a>
						</div>
					</div>
				</section>
		<section class="portfolio">
			<a class="portfolio_block" style="background-image:url(/img/portfolio_img1.jpg);">
				<div class="header11_pretitle "><%= singleBriefs.portfolio1kind %></div>
				<h3>Signoff <span>Full Stack Developer</span></h3>
			</a>
			<a class="portfolio_block" style="background-image:url(/img/portfolio_img2.jpg);">
				<div class="header11_pretitle red"><%= singleBriefs.portfolio2kind %></div>
				<h3>Asia's Got Talent <span>Episode Editor</span></h3>
			</a>
			<a class="portfolio_block" style="background-image:url(/img/portfolio_img3.jpg);">
				<div class="header11_pretitle black"><%= singleBriefs.portfolio3kind %></div>
				<h3>People <span>UX/UI Mobile App <span> Designer </span></h3>
			</a>
		</section>


		<footer class="footer11">
			<div class="footer11_nav">
				<div class="container">
					<a href="#">Help</a>
					<a href="#">Careers</a>
					<a href="#">Developers</a>
					<a href="#">Blog</a>
					<a href="#">Privacy</a>
					<a href="#">Terms</a>
					<a href="#">About</a>
				</div>
			</div>
			<div class="container">
				<div class="left">
						<a href="#" class="nav5_logo"><img src="/img/signoff_logo.png" width="100" height="60"></a>
				</div>
				<div class="left footer11_text">
					© 2017 Pikpo. Welcome to Signoff a marketplace of opportunties.
				</div>
				<div class="socials">
					<a href="#" target="_blank" class="tw"></a>
					<a href="#" target="_blank" class="fb"></a>
				</div>
			</div>
		</footer>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bxslider.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
